<div class="container">
  <mat-card class="example-card" *ngFor="let user of userList">
    <mat-card-title-group>
      <mat-card-title>{{ user.name }} -- {{cartCount|async}}</mat-card-title>
      <mat-card-subtitle
        >userId -{{ user.id }}, {{ user.name }},{{ user.username }} -
        {{ user.email }} - {{ user.phone }}</mat-card-subtitle
      >
    </mat-card-title-group>
    <mat-card-content>
      {{ user.company.name }},
      {{ user.company.bs }}
    </mat-card-content>
  </mat-card>
</div>
