.container{
    display: flex;
    flex-direction: column;
    height: 100%;

}
.app-header-class{
    height: 10%;
    width: 100%;
}
.app-footer-class{
    height: 10%;
}
.router-outlet-class{
    height: 80%;
    width: 100%;
}