.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.example-card {
    max-width: 400px;
    margin: 2%;
    background-color: lightcyan !important;
    color: black;
    height: 180px !important;
    // overflow-y: scroll;
  }